/* Hero Container */
.marketing-hero {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 180px 120px 120px;
  gap: 56px;
  isolation: isolate;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 687px;
}

/* Background Stars */
.marketing-hero__star-1 {
  position: absolute;
  width: 538.78px;
  height: 538.78px;
  right: -102.92px;
  top: -206px;
  background: linear-gradient(160.02deg, #84FF5F 9.67%, #101010 82.27%);
  opacity: 0.84;
  filter: blur(22.88px);
  border-radius: 49.5732px;
  transform: rotate(151.64deg);
  z-index: -1;
}

.marketing-hero__star-2 {
  position: absolute;
  width: 672.05px;
  height: 672.05px;
  left: -483.85px;
  top: -97px;
  background: linear-gradient(288.74deg, #84FF5F 20.63%, #101010 74.31%);
  opacity: 0.84;
  filter: blur(40px);
  border-radius: 61.8357px;
  transform: rotate(-53.83deg);
  z-index: -1;
}

/* Content Container */
.marketing-hero__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 24px;
  max-width: 1012px;
  z-index: 1;
}

/* Eyebrow */
.marketing-hero__eyebrow {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: -0.011em;
  color: #FFFFFF;
}

/* Title */
.marketing-hero__title {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 72px;
  line-height: 75px;
  text-align: center;
  color: #F0EDE8;
  margin: 0;
}

.marketing-hero__title-highlight {
  color: #84FF5F;
}

/* Description */
.marketing-hero__description {
  margin: 0 auto;
  max-width: 734px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

.marketing-hero__description strong {
  font-weight: 700;
}

/* Responsive adjust */
@media (max-width: 768px) {
  .marketing-hero {
    padding: 120px 24px 80px;
  }
  
  .marketing-hero__star-1 {
    width: 351.92px;
    height: 351.92px;
    right: -20px;
    top: 296px;
    filter: blur(14.9448px);
    border-radius: 32.3803px;
  }
  
  .marketing-hero__star-2 {
    width: 360.59px;
    height: 360.59px;
    left: -253px;
    top: -109px;
    filter: blur(21.4621px);
    border-radius: 33.1781px;
    transform: rotate(-119.51deg);
  }
  
  .marketing-hero__eyebrow {
    font-size: 14px;
  }
  
  .marketing-hero__title {
    font-size: 36px;
    line-height: 40px;
  }
}
